.game-details {
  flex-basis: 30%;
  color: #fcfcfc;
  margin-bottom: 10px;
  span {
    color: grey;
    margin-right: 10px;
  }

  &__short-description {
    margin: 10px auto;
    padding-bottom: 10px;
    border-bottom: 1px solid #285f77;
  }
  &__info {
    margin-bottom: 20px;
  }
  &__genre {
    padding-bottom: 10px;
    border-bottom: 1px solid #285f77;
  }
  &__minimum-system-requirements {
    margin: 10px auto;
  }
}

.minimum-system-requirements {
  &__title {
    font-weight: 500;
    margin-bottom: 5px;
    color: #a4416d;
  }
}

@media (max-width: 800px) {
  .game-details {
    margin-bottom: 30px;
    margin-left: 10px;
  }
}
