.game-details {
  // flex-basis: 30%;
  color: aliceblue;

  span {
    color: grey;
    margin-right: 10px;
  }
  &__info {
  }
  &__thumbnail {
    margin: 5px auto;
  }

  &__short-description {
    margin: 10px auto;
  }
}
