.checkbox-wrapper {
  display: block;
  position: relative;
  cursor: pointer;
  margin: 10px 0;
  width: 100%;
  p {
    margin-left: 30px;
    color: #fff;
  }
}

.checkbox-element {
  appearance: none;
  position: absolute;
  top: 2px;
  left: 0;
  margin: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #3b535e;
  border-radius: 3px;
}

.checkbox-element:checked:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 5px;
  width: 5px;
  height: 13px;
  border: 2px solid transparent;
  border-bottom-color: #a4416d;
  border-right-color: #a4416d;
  transform-origin: 50% 50%;
  transform: rotate(35deg);
}

// .checkbox-element:hover {
//   color: #a4416d;
// }
