.games-list {
  // display: grid;
  // grid-template-columns: repeat(3, 33.3%);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  // margin: 0 20px;
  align-items: center;
  width: 100%;
}
