.game-content {
  flex-basis: 80%;
  min-width: 0;
  padding-right: 30px;

  &__carousel {
    min-width: 0;
  }
  &__description {
    margin: 50px auto;
    color: #fcfcfc;
    text-align: justify;
  }
}
