.btn {
  position: relative;
  cursor: pointer;
  color: aliceblue;
  svg {
    width: 20px;
  }
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(41, 85, 85, 0.6);
    z-index: -1;
  }
}

.btn:hover {
  color: #0bc2e2;
}

.btn--download {
  width: 100%;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #2da7ac;

  &:before {
    content: none;
  }
}

.btn--download:hover {
  background-color: aliceblue;
  color: #0bc2e2;
}
