.btn {
  position: relative;
  cursor: pointer;
  color: #fcfcfc;
  svg {
    width: 20px;
  }
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    right: -10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #2b2531;
    z-index: -1;
  }
}

.btn:hover {
  color: #da90e9;
  text-shadow: 1px 1px 2px pink;
}

.btn--download {
  width: 100%;
  padding: 10px 30px;
  border-radius: 30px;
  background-color: #a4416d;

  &:before {
    content: none;
  }
}

.btn--download:hover {
  background-color: #da90e9;
  box-shadow: 0px 0px 10px #da90e9;
  color: #2b2531;
}

.btn--close {
  &:before {
    content: none;
  }
}
