.filter {
  border-radius: 10px;
  padding: 30px;
  background: #202020;
  min-width: 300px;
  &__holder {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
  }
  &__title {
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-weight: 600;
    color: #a4416d;
    text-transform: uppercase;
  }
  &__inner {
    display: flex;
    margin-bottom: 15px;
    margin-right: 10px;
    color: #f6ebf9;
  }
}

@media (max-width: 350px) {
  .filter {
    padding: 10px;
    &__inner {
      font-size: 14px;
    }
  }
}
