.game-card {
  // flex-basis: 25%;
  margin: 5px;
  background-color: rgb(39, 34, 61);

  &__img {
    padding: 3px;
    width: 100%;
  }

  &__info {
    padding: 5px;
    color: #d7c4df;
    font-size: 16px;
  }
  &__title {
    font-size: 22px;
    font-weight: 700;
    color: rgb(139, 196, 243);
    margin-bottom: 5px;
  }
  &__release-date {
  }
  &__publisher {
  }
  &__genre {
  }
}
