body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(24, 23, 26);
  /* background: rgb(29, 80, 84);
  background: linear-gradient(90deg, rgba(29, 80, 84, 1) 26%, rgba(28, 23, 51, 1) 70%); */
  /* background: rgb(30, 25, 54);
  background: linear-gradient(90deg, rgba(30, 25, 54, 1) 15%, rgba(29, 110, 106, 1) 56%, rgba(148, 48, 104, 1) 100%); */
  display: flex;
  justify-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
